<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choose Your Game - CME</title>
</head>
<body>
    <h1>Chicago Music Exchange</h1>
    <p>
    Awwww...yeah! Chi Music Exchange is the largest music store in the city, with hundreds of guitars, basses, and even drums next door. Lets have some fun! Whick instrument do you want to play??? </p>

    <img src="{{ url_for('static', filename='chi_music.jpg') }}">
    
    <a href ="#">Guitar</a>
    <a href ="#">Bass</a>
    <a href ="#">Drums</a>


    
</body>
</html>