<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Unique Thrift</h1>
    <p>
    Let's go thrifting!!! We really don't need anything, but who can pass up an afternoon trip to our favorite Thrift store! Let's head straight to the denim jacket section. Our maybe the pennyloafers section. Or maybe even the mustache wax section!!!   
    </p>

    <img src="{{ url_for('static', filename='unique_thrift.jpg') }}">
    
    <a href ="#">Denim</a>
    <a href ="#">Loafers</a>
    <a href ="#">Mustache Wax</a>
</body>
</html>