<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Vinyl Records</h1>
    <p>
    Alright! Lets go digging in the crates of our local record shop. With the smell of hemp and patchouli in the air, let's browse around and look for a diamond rough. Where should we start first???
    </p>

    <img src="{{ url_for('static', filename='vinyl.jpg') }}">

    <a href ="#">Hiphop</a>
    <a href ="#">80's Alt</a>
    <a href ="#">Indie</a>

</body>
</html>