<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choose Your Game - Mag Mile</title>
</head>
<body>
    <h1>Magnificent Mile</h1>

    <p>The Magnificent Mile is Chicago's main tourist area. Boasting some of the best retail shopping in the Midwest, with stores such as Chanel, Nike, The Water Tower, and various boutiques. You could also check out Navy Pier to get a ride on the Ferris Wheel or see the fireworks show throughout the summer. Finally, if you want to get a taste of the city's architecture, feel free to take a boat tour ride on the Chicago </p>

    <img src="{{ url_for('static', filename='magmile.jpg') }}">
</body>
</html>