<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choose Your Game - Sears Tower</title>
</head>
<body>
    <h1>Sears Tower</h1>

    <p>A 110-story, 1,450-foot skyscraper, it's actual name is Willis Tower. At completion in 1973, it surpassed the World Trade Center in New York to become the tallest building in the world, a title it held for nearly 25 years; it remained the tallest building in the Western Hemisphere until the completion of a new building at the rebuilt World Trade Center site in 2014.</p>

    <img src="{{ url_for('static', filename='sears_tower.jpg') }}">
</body>
</html>