<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Giordano's Pizzaria</h1>
    <p>MMMMmmmm...PIZZA! Chicago's classic deep dish originator, Giordano's has a colossal pie just for your taste. Choose from the standard pepperoni deep dish, the equally delicious thin crust, or go for the lighter option of a salad.<p>
    <img src="{{ url_for('static', filename='giordanos.jpg') }}">
</body>
</html>