<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Mellow Yellow!</h1>
    <p> Mellow Yellow, another staple of the community, is a one-stop-shop for whatever you have a taste for. Grab a pint and enjoy a huge nacho platter, their famous chili, or even have some breakfast-for-lunch.</p>
    <img src="{{ url_for('static', filename='mellow_yellow.jpg') }}">
</body>
</html>