<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Valois Diner</h1>
    <p> Valois diner is a staple of the Hyde Park Community and personal fav of 44 himself. He might even stop in today if your lucky! Choose from classic like Italian beef, a Polish, or the pork chop sandwiches</p>
    <img src="{{ url_for('static', filename='valois.jpg') }}">
</body>
</html>