<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choose Your Game - Downtown</title>
</head>
<body>
    <h1>Downtown</h1>

    <p>Chicago's Downtown is an area that encompasses various locations throughout Chicago, such as the Loop, Gold Coast, River North, Mag Mile, etc. It's architecture, along with its food is second-to-none. </p>

    <img src="{{ url_for('static', filename='chicago_downtown.jpg') }}">

    <a href = "/downtown/bean" >The Bean</a>
    <a href = "/downtown/mag_mile">Magnificient Mile</a>
    <a href = "/downtown/sears_tower">Sears Tower</a>
</body>
</html>