<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choose Your Game - Hyde Park</title>
</head>
<body>
    <h1>Hyde Park</h1>

    <p>One of Chicago's most historic neighborhoods, Hyde Park hosts a variety of restaurants, hotels, and even one of the world's top universities, Unviersity of Chicago. Possibly Chicago's most diverse neighborhood, Hyde Park is one huge melting pot of various people and cultures. </p>

    <img src="{{ url_for('static', filename='chicago_hp.jpg') }}">

    <a href = "/hyde_park/giordanos" >Giordano's</a>
    <a href = "/hyde_park/valois">Valois</a>
    <a href = "/hyde_park/mellow_yellow">Mellow Yellow</a>

</body>
</html>