<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choose Your Game - Start Here</title>
</head>
<body>
    <h1>Chi Codes</h1>

    <p>The spot where it all started for all of the students in the Chi Codes program. It's our starting point in our coding careers and will be the starting point for our game.</p>

    <img src="{{ url_for('static', filename='chi_codes.jpg') }}">

    <h3>Where do you want to go?</h3>
    <a href ="/hyde_park">Hyde Park</a>
    <a href ="/downtown">Downtown</a>
    <a href ="/north_side">North Side</a>
</body>
</html>