<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>North Side</h1>

    <p>Although not a neighborhood, the North Side of Chicago has a host of activities and shopping throughout. From Lincoln Park Zoo, to various music venue and shopping, the North Side has something for everyone.</p>

    <img src="{{ url_for('static', filename='chicago_lakeview.jpg') }}">

    <a href = "/north_side/chi_music_exchange" >Chicago Music Exchange</a>
    <a href = "/north_side/thrift_store">Unique's Thrift Store</a>
    <a href = "/north_side/vinyl_records">Vinyl Records</a>
</body>
</html>